<body id="event-bg">
  <span class="event"><%= @venue.name %></span>
  <br>
  <a class="event" id="event-a" href="https://maps.google.com/?q=<%= @venue.name %> <%= @venue.location["formattedAddress"][0] %> <%= @venue.location["formattedAddress"][1] %>"><%= @venue.location["formattedAddress"][0] %></a>
  <br>

  <span class="event">Rating: <%= @venue.rating %></span>
  <br>
  <% if @venue.price %>
  <% cost = "$" * @venue.price["tier"] %>
  <span class="event">Cost: <%= cost %></span>
  <br>
  <% end %>
</body>
<!-- <% if @venue.photourl %>
  <%= image_tag @venue.photourl %>
<% end %> -->
